<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Dynamic Ejs</h1>
<p>This page features data sent in to the file using variables

  <p>You search for: <%= data.userQuery %></p>
  <h2>
    NOw with added variables in a loop!
  </h2>
  <ul>
<%= data.searchResults.forEach(item) =>{
  data.searchResults[item]
}
%>
  </ul>
</p>
</body>
</html>